.home-header {
	margin-block-end: 6rem;
	width: 80rem;
}

.home-links {
	text-align: center;
	font-size: 2em;
}

.logo-container svg {
	display: inline-block;
}

.home-links a[href] {
	background-color: var(--text-color);
	color: var(--background-color);
	text-decoration: none;
	padding: 0.125rem 1rem 0.25rem;
	border-radius: 0.25rem;
}
