{%- css %}{% include "./footer.css" %}{%- endcss %}
<footer class="footer">
	<p>You can reach us at <a href="mailto:contact@mmsww.xyz">contact@mmsww.xyz</a></p>
	<p>Copyright {% currentBuildYear %}</p>
</footer>
