{%- css %}{% include "./h-flash.css" %}{%- endcss %}
<div class="h-flash">
	<svg class="h-flash-icon" viewBox="0 0 44 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	xml:space="preserve" xmlns:serif="http://www.serif.com/">
	<path class="h-flash-path"
		d="M23.611,0.91L42.182,5.853L30.127,4.299L31.991,6.386L15.135,4.013L17.29,6.45L1.283,2.03L11.401,3.351L9.483,1.274L26.025,3.53L23.611,0.91Z" />
</svg>
</div>
