{%- css %}{% include "./header.css" %}{%- endcss %}
<header class="header">
	<a class="header-home-link"href="/"><span class="visually-hidden ">Home</span>{% include "public/img/logo-stamp.svg" %}</a>
	<nav>
		<h2 class="visually-hidden">Top level navigation menu</h2>
		<ul class="header-nav">
		{%- for entry in collections.all | eleventyNavigation %}
			<li class="header-nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
		{%- endfor %}
		</ul>
	</nav>
</header>
