/* .responsive-logo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 8em;
}
.responsive-logo svg {
	flex: 1;
}

.responsive-logo .logo-mms {
}
.responsive-logo .logo-flash {
	rotate: 105deg;
}
.responsive-logo .logo-ww {
} */
.responsive-logo {
	padding: 10% 0;
}
.responsive-logo-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: auto;
}
.responsive-logo svg {
	height: auto;
	scale: 1.75;
	transition-property: scale transform rotate;
	transition-duration: 0.5s;
}

.responsive-logo .logo-mms {
	flex: 191;
	translate: 39% -100%;
}
.responsive-logo .logo-flash {
	flex: 10;
	translate: -260%;
	rotate: 800deg;
	scale: 2.5;
}
.responsive-logo .logo-ww {
	flex: 143;
	translate: -70% 80%;
}
@media screen and (min-width: 55em) {
	.responsive-logo {
		padding-block: 0;
	}
	.responsive-logo svg {
		scale: 1;
	}

	.responsive-logo .logo-mms {
		translate: 0 0;
	}
	.responsive-logo .logo-flash {
		translate: 0 0;
		rotate: 0deg;
		scale: 1;
	}
	.responsive-logo .logo-ww {
		translate: 0% 0%;
	}
}
