{%- css %}{% include "./responsive-logo.css" %}{%- endcss %}
<div class="responsive-logo">
	<div class="responsive-logo-inner">
		{% include "public/img/logo-mms.svg" %}
		{% include "public/img/logo-flash.svg" %}
		{% include "public/img/logo-ww.svg" %}
	</div>
</div>
